@using Microsoft.AspNetCore.Identity
@using VDemyanov.MathWars.Service.Interfaces;
@model HomeViewModel
@inject UserManager<IdentityUser> UserManager
@inject IAchievementsService AchievementsService

@{
    string cardColor = "white";
}

<link rel="stylesheet" href="~/lib/jqcloud/prettytag.css">

<div class="text-center">
    <h1 class="display-4">Welcome To MathWars</h1>
    <h2><small class="text-muted">Let's train your brain!</small></h2>
</div>

<ul class="cloud-tags" id="tagsCloud">
</ul>

<div class="container">

    <div class="row justify-content-around">
        @foreach (var mp in Model.MathProblems)
        {
            @if (AchievementsService.HasMathProblemBeenAchived(@UserManager.GetUserId(User), mp.Id))
            {
                cardColor = "#4BB543";
            }
            else
            {
                cardColor = "white";
            }
        <div class="card m-2" style="width: 18rem; background: @cardColor;">
            <img src="@mp.Images.First().Link" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@mp.Name</h5>
                <p>
                    <div><b>Topic</b>: @mp.Topic.Name</div>
                    <div><b>Author</b>: @mp.User.UserName</div>
                </p>
                <a asp-controller="MathProblem" asp-action="Show" asp-route-mpId="@mp.Id" class="btn btn-primary">Show</a>
            </div>
            <div class="card-footer text-muted">
                <small class="text-muted"><b>Last updated</b> @mp.LastEditDate</small>
            </div>
        </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/lib/jqcloud/jquery.prettytag.js"></script>
    <script type="text/javascript">

        fetch("/Tag/GetTagNames")
            .then(response => response.json())
            .then(tags => {
                let el = "<li> <a style=\"cursor: pointer; color: white; \" onclick=\"filterMP('')\"> all </a> </li>";
                tags = tags.map(tag => {
                    return `<li> <a style="cursor: pointer; color: white;" onclick="filterMP('${tag.name}')"> ${tag.name} </a> </li>`;
                }).join("");
                tagsCloud.innerHTML = el + tags;
                $(".cloud-tags").prettyTag();
            });

        function filterMP(tag) {
            fetch(`/Home/Index?tag=${tag}`, { method: 'GET' })
                .then(resp => {
                    console.log(resp.url);
                    window.location.href = resp.url;
                })
                .catch(err => {
                    console.log(err + " url: " + url);
                });
        }
    </script>
}


